<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="./css/main/style.css">
    <link rel="stylesheet" href="./css/user/change-password.css">
</head>
<body>
    
    <form action="/api/v1/change-password" method="POST">

        <div id="title">Change Password</div>

        <label id="old_password_label" for="old_password_input">
            <img src="./assets/password_lock_icon.svg" alt="">
            <input type="password" name="oldpassword" id="old_password_input" placeholder="Old Password" required>
            <img src="./assets/password_eye_open_icon.svg" alt="" id="old_password_eye">
        </label>

        <label id="new_password_label" for="new_password_input">
            <img src="./assets/password_lock_icon.svg" alt="">
            <input type="password" name="newpassword" id="new_password_input" placeholder="New Password" required>
            <img src="./assets/password_eye_open_icon.svg" alt="" id="new_password_eye">
        </label>

        <label id="confirm_new_password_label" for="confirm_new_password_input">
            <img src="./assets/password_lock_icon.svg" alt="">
            <input type="password" name="confirm_password" id="confirm_new_password_input" placeholder="Confirm New Password" required>
            <img src="./assets/password_eye_open_icon.svg" alt="" id="confirm_new_password_eye">
        </label>

        <input type="submit" value="Update">
    </form>


    <div class="error_container success" style="display: none;">
        <span id="status">
            Success
        </span>
        <span>
            Profile Updated Successfully
        </span>
        <div class="timer"></div>
    </div>

    <script src="./js/user/change-password.js"></script>
</body>
</html>